In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import statsmodels.formula.api as smf

In [2]:
df=pd.read_csv("C:\\Users\\peyma\\PycharmProjects\\HW2\\TEST_missing.csv",encoding="cp1252")

In [3]:
df.head()

   Subject  Hemoglobin  Albumin  WhiteBC  BP_sys  BP_dia   FVC
0        1       12.92     2.53     4185   126.0    97.0  3.11
1        2         NaN     4.41     4042   132.0     NaN   NaN
2        3       10.57     2.81     3806   124.0   112.0  3.08
3        4       13.94     2.57     3573     NaN     NaN   NaN
4        5        9.22     1.52     3461   128.0    93.0  3.19

In [4]:
newdf=df.dropna(how='any')

In [5]:
newdf.head()

   Subject  Hemoglobin  Albumin  WhiteBC  BP_sys  BP_dia   FVC
0        1       12.92     2.53     4185   126.0    97.0  3.11
2        3       10.57     2.81     3806   124.0   112.0  3.08
4        5        9.22     1.52     3461   128.0    93.0  3.19
5        6       10.33     2.64     3778   148.0    98.0  3.55
6        7        9.07     4.72     3489   137.0    83.0  4.55

In [6]:
X= newdf[['Hemoglobin','Albumin','WhiteBC','BP_sys','BP_dia']]

In [7]:
Y=newdf['FVC']

In [8]:
mod = smf.ols('Y ~ X', data=newdf)
res = mod.fit()

In [9]:
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      Y   R-squared:                       0.177
Model:                            OLS   Adj. R-squared:                  0.066
Method:                 Least Squares   F-statistic:                     1.596
Date:                Mon, 05 Nov 2018   Prob (F-statistic):              0.185
Time:                        20:01:29   Log-Likelihood:                -50.167
No. Observations:                  43   AIC:                             112.3
Df Residuals:                      37   BIC:                             122.9
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      5.9225      2.412      2.456      0.019       1.036      10.809
X[0]           0.0077      0.079      0.098      0.923      -0.152       0.167
X[1]           0.2568      0.157      1.633      0.111      -0.062       0.575
X[2]          -0.0011      0.000     -2.359      0.024      -0.002      -0.000
X[3]          -0.0008      0.008     -0.098      0.923      -0.017       0.015
X[4]           0.0079      0.012      0.674      0.505      -0.016       0.032
==============================================================================
Omnibus:                        0.928   Durbin-Watson:                   2.151
Prob(Omnibus):                  0.629   Jarque-Bera (JB):                0.984
Skew:                           0.263   Prob(JB):                        0.611
Kurtosis:                       2.477   Cond. No.                     6.84e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.84e+04. This might indicate that there are
strong multicollinearity or other numerical problems.